.featured {
    margin-top: 40px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FDF5EA;
    /* height: 100vh; */
}

.featured h1 {
    font-size: 30px;
    /* font-weight: ; */
    color: #000;
    margin-bottom: 20px;
}

.restroom-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}