.results {
    padding-top: 25px;
    margin: 50px;
    margin-bottom: 0px;
}
.results h2 {
    margin-bottom: 20px;
}

.search-term h2 {
    color: #FFCB37;
}

.results-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}