.container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.container > div {
    padding: 15px 0px;
}

.container > .rating {
    padding: 7.5px 0px;
}

.gender-button, .selected-button {
    border: 0px !important;
    border-radius: 20px 20px 20px 20px !important;
    border: 1px solid black;
    color: black !important;
    margin-right: 8px;
}

.gender-button {
    background-color: #ffcb37 !important;
    outline: none;
}

.selected-button {
    background-color: #ffffff !important;
    border: 1px solid black !important;
    outline: none;
}


.text {
    width: 100%;
    height: 300px;
}

.text > .gender-button {
    margin-top: 15px;
    display: flex;
    float: right;
    margin-right: 0px;
}

.textbox {
    padding: 20px;
    text-align: start;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    resize: none;
}

.textbox::-webkit-scrollbar {
    display: none;
  }
