.card {
    padding-top: 20px;
    padding-left: 20px;
    width: 300px;
    height: 300px;
}

.cardImage {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

.rating {
    display: flex;
}

.card h1 {
    font-size: 20px;
}

.card h2 {
    font-size: 17px;
    padding-top: 2px;
}

.card p {
    font-size: 13px;
    color: #808080;
}

.react-multi-carousel-list {
    /* width: 50%; */
}