.restroom {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.sub {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  font-weight: bold;
}

.toggle {
  margin-left: 10%;
}

.title {
  display: inline-flex;
}

.photo-section {
  margin-top: 30px;
}

.photo-gallery {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  display: flex;
  justify-content: space-around;
}

.photos {
  background-color: #000000;
  margin: 20px 0.5% 20px 0.5%;
  width: 15%;
  height: 300px;
}

.reviews {
  margin-top: 30px;
}

.review-header {
  padding-left: 50px;
}

.reviews-section {
  background-color: #fdf5ea;
  height: 400px;
  padding: 30px;
}

.review-bubbles {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.more-btn {
  width: 5vw;
  margin-left: 45vw;
}
