.type-toggle {
    border: 0px !important;
    background-color: #ffcb37 !important;
    border-radius: 20px 20px 20px 20px !important;
    border: 1px solid #ffcb37 !important;
    color: black !important;
    margin-right: 8px;
  }
  
  .toggled-false {
    background-color: #ffffff !important;
    border: 1px solid black !important;
  }
  
  .display-toggles {
    padding-left: 50px;
    padding-top: 1%;
  }
  
  .restroom {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 25px;
    margin-top: 50px;
  }
  
  .sub {
    display: flex;
    justify-content: space-between;
  }
  
  .rating {
    display: flex;
    font-weight: bold;
  }
  
  .toggle {
    margin-left: 10%;
  }
  
  .photo-section {
    margin-top: 30px;
  }
  
  .photo-gallery {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    display: flex;
    justify-content: flex-start;
  }
  
  .photos {
    background-color: #000000;
    margin: 20px 0.5% 20px 0.5%;
    width: 225px;
    height: 300px;
    margin-right: 15px;
  }
  
  .break {
    background-color: #000000;
    margin-bottom: 10px;
    width: 35%;
    height: 3px;
  }
  
  .reviews {
      background-color: #FDF5EA;
      margin-top: 30px;
      height: auto;
  }
  
  .review-header {
    padding-top: 30px;
    padding-left: 50px;
  }
  
  .reviews-section {
      text-align: center;
      background-color: #FDF5EA;
      padding: 30px;
  }
  
  .review-bubbles {
      text-align: left;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
      padding-bottom: 10px;
  }
  
  .more-btn {
    width: 5vw;
    background-color: white !important;
    color: black !important;
    text-transform: unset !important;
    border-radius: 20px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
  }
  
  .more-btn:hover {
    background-color: #ffcb37 !important;
    color: black !important;
    border-width: 0px !important;
  }